<nav>
    <ul>
      <li class="brand">
        <a href="/"><h3>Home</h3></a>
      </li>
      <li>
        <a href="/"><h3>Books</h3></a>
      </li>
      <li>
        <a href="/"><h3>Add-Book</h3></a>
      </li>
    </ul>
  </nav>