<nav>
    <ul>
      <li class="brand">
        <a href="/dashboard"><h3>Home</h3></a>
      </li>
      <li class="brand">
        <a href="/auth/registerpage"><h3>Register</h3></a>
      </li>
      <li class="brand">
        <a href="/auth/loginpage"><h3>Login</h3></a>
      </li>
    </ul>
  </nav>
