<aside class="sidebar">
    <div class="profile-icon">🎮</div>
    
    <nav>
      <a href="/home">Dashboard</a>
      <a href="/games/all-games">All Games</a>
      <!-- <a href="/search/find">Find Games</a> -->
      <a href="/wishlist">Wishlist</a>
      <form action="/auth/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </nav>
  </aside>
  