<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>
  <body>
    <!-- SIDEBAR -->
    <%- include('partials/sidebar') %>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <%- include(body) %>
    </div>
  </body>
</html>
