<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <!-- <%- include('./partials/nav-bar.ejs') %> -->

    <!-- Dynamic Page Content -->
    <%- include(body) %>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <script src="/assets/js/main.js"></script>
  </body>
</html>