<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Hero Section -->
    <header class="hero">
      <h1>Welcome to the GameZ</h1>
      <a href="/books" class="btn">All Games</a>
    </header>
  </body>
</html>
