<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
  </head>
  <body>
    <!-- Hero Section -->
    <div class="hero">
      <div class="overlay"></div>
      <div class="hero-content">
        <h1>Welcome to the GameZ</h1>
        <a href="/auth/loginpage" class="btn">Login</a>
      </div>
    </div>
  </body>
</html>
